<body class="backgroundGame2">
    <div class="divContainer" style="min-height:85vh">
        <div class="row contentContainer" style="max-width:100%">
            <div class="col-8 leftContainer">
                <div class="styleTitle">Rampage of the Dead</div>
                <div class="sliderContainer">
                    <div class="html5gallery" data-width="690" data-height="350" data-skin="darkness" style="display:none">
                        <a href="https://steamcdn-a.akamaihd.net/steam/apps/256721551/movie480.webm?t=1530649085"><img src="images/rampage 1.jpg" alt="Rampage of the Dead Trailer"></a>
                        <a href="https://steamcdn-a.akamaihd.net/steam/apps/890640/ss_2d9a1da3846b37d21dd4b5e323cbb9ee2a342d8d.600x338.jpg?t=1532119024"><img src="https://steamcdn-a.akamaihd.net/steam/apps/890640/ss_2d9a1da3846b37d21dd4b5e323cbb9ee2a342d8d.600x338.jpg?t=1532119024" alt="In-Game Screenshot"></a>
                        <a href="https://steamcdn-a.akamaihd.net/steam/apps/890640/ss_10f6be4dddac39d6697767330bbd60efbda4c419.600x338.jpg?t=1532119024"><img src="https://steamcdn-a.akamaihd.net/steam/apps/890640/ss_10f6be4dddac39d6697767330bbd60efbda4c419.600x338.jpg?t=1532119024" alt="In-Game Screenshot"></a>
                        <a href="https://steamcdn-a.akamaihd.net/steam/apps/890640/ss_06ecf04a6f773f83a3518238422a274d95fba0af.600x338.jpg?t=1532119024"><img src="https://steamcdn-a.akamaihd.net/steam/apps/890640/ss_06ecf04a6f773f83a3518238422a274d95fba0af.600x338.jpg?t=1532119024" alt="In-Game Screenshot"></a>
                        <a href="https://steamcdn-a.akamaihd.net/steam/apps/890640/ss_7337ff8768109f27c17c4bd7fe88ecff7aa2a266.600x338.jpg?t=1532119024"><img src="https://steamcdn-a.akamaihd.net/steam/apps/890640/ss_7337ff8768109f27c17c4bd7fe88ecff7aa2a266.600x338.jpg?t=1532119024" alt="In-Game Screenshot"></a>
                        <a href="https://steamcdn-a.akamaihd.net/steam/apps/890640/ss_943cc09caf6481eb02c889b331c7e52d7480d3da.600x338.jpg?t=1532119024"><img src="https://steamcdn-a.akamaihd.net/steam/apps/890640/ss_943cc09caf6481eb02c889b331c7e52d7480d3da.600x338.jpg?t=1532119024" alt="In-Game Screenshot"></a>
                        <a href="https://steamcdn-a.akamaihd.net/steam/apps/890640/ss_3fdcb7023560944e7fb4eee05a33b33af8324d69.600x338.jpg?t=1532119024"><img src="https://steamcdn-a.akamaihd.net/steam/apps/890640/ss_3fdcb7023560944e7fb4eee05a33b33af8324d69.600x338.jpg?t=1532119024" alt="In-Game Screenshot"></a>
                    </div>
                </div>
                <div class="espacioEntremedioL"></div>
                <div class="row">
                    <div class="col-8 compraText">
                        <div class="alignText">
                            <h4>Purchase Rampage of the Dead</h4>
                        </div>   
                    </div>
                    <div class="col-4 compraButton">
                        <div class="alignButton">
                            <button type="submit" class="btn btn-success btn-lg">
                                <a href="https://store.steampowered.com/app/890640/Rampage_of_the_Dead/" class="not-active1 buttonText">Buy NOW</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 rightContainer">
                <div class="logoContainer">
                    <img src="/images/rampage_of_the_dead_logo.jpg" alt="" class="imgSize">
                </div>
                <div class="espacioEntremedioR"></div>
                <div class="resumenContainer">
                    <h5 class="resumenText">Rampage of the Dead is an arcade FPS endless wave shooter! Will you be able to survive the wrath of the enemies or they will take over you? Defend yourself and show them... show them all...</h5>
                    <br>
                    <h5 class="hTextL">Release date:<h4 class="hTextR"> 20 JUL 2018<h4></h5>
                    <br>
                    <h5 class="hTextL">Developer:<h4 class="hTextR"> Boltok Games<h4></h5>
                    <h5 class="hTextL">Publisher:<h4 class="hTextR"> Boltok Games<h4></h5>
                </div>
                <div class="espacioEntremedioR"></div>
            </div>     
        </div>
    </div>
</body>