<body class="backgroundGame1">
    <div class="divContainer" style="min-height:85vh">
        <div class="row contentContainer" style="max-width:100%">
            <div class="col-8 leftContainer">
                <div class="styleTitle">The Fog</div>
                <div class="sliderContainer">
                    <div class="html5gallery" data-width="690" data-height="350" data-skin="darkness" style="display:none">
                        <a href="https://steamcdn-a.akamaihd.net/steam/apps/256698881/movie480.webm?t=1508978198"><img src="images/the fog 1.jpg" alt="The Fog Trailer"></a>
                        <a href="https://steamcdn-a.akamaihd.net/steam/apps/739030/ss_e323cdd215fb8f0e7ce6b2c64a259646d7f1383b.600x338.jpg?t=1512160977"><img src="https://steamcdn-a.akamaihd.net/steam/apps/739030/ss_e323cdd215fb8f0e7ce6b2c64a259646d7f1383b.600x338.jpg?t=1512160977" alt="In-Game Screenshot"></a>
                        <a href="https://steamcdn-a.akamaihd.net/steam/apps/739030/ss_dcc45a43aa82aafeb49241f598a4139302f4084b.600x338.jpg?t=1512160977"><img src="https://steamcdn-a.akamaihd.net/steam/apps/739030/ss_dcc45a43aa82aafeb49241f598a4139302f4084b.600x338.jpg?t=1512160977" alt="In-Game Screenshot"></a>
                        <a href="https://steamcdn-a.akamaihd.net/steam/apps/739030/ss_da76566fa1ad296e463d01d32221d4eef0b8ba5d.600x338.jpg?t=1512160977"><img src="https://steamcdn-a.akamaihd.net/steam/apps/739030/ss_da76566fa1ad296e463d01d32221d4eef0b8ba5d.600x338.jpg?t=1512160977" alt="In-Game Screenshot"></a>
                        <a href="https://steamcdn-a.akamaihd.net/steam/apps/739030/ss_5029ae70fd3e74bdef8940f03fb0e8051eab5a41.600x338.jpg?t=1512160977"><img src="https://steamcdn-a.akamaihd.net/steam/apps/739030/ss_5029ae70fd3e74bdef8940f03fb0e8051eab5a41.600x338.jpg?t=1512160977" alt="In-Game Screenshot"></a>
                        <a href="https://steamcdn-a.akamaihd.net/steam/apps/739030/ss_0948ee2df39cc3f872a2ae9509838e4b22b7e832.600x338.jpg?t=1512160977"><img src="https://steamcdn-a.akamaihd.net/steam/apps/739030/ss_0948ee2df39cc3f872a2ae9509838e4b22b7e832.600x338.jpg?t=1512160977" alt="In-Game Screenshot"></a>
                    </div>
                </div>
                <div class="espacioEntremedioL"></div>
                <div class="row">
                    <div class="col-8 compraText">
                        <div class="alignText">
                            <h4>Purchase The Fog</h4>
                        </div>   
                    </div>
                    <div class="col-4 compraButton">
                        <div class="alignButton">
                            <button type="submit" class="btn btn-success btn-lg">
                                <a href="https://store.steampowered.com/app/739030/The_Fog/" class="not-active1 buttonText">Buy NOW</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 rightContainer">
                <div class="logoContainer">
                    <img src="/images/the_fog_logo.jpg" alt="" class="imgSize">
                </div>
                <div class="espacioEntremedioR"></div>
                <div class="resumenContainer">
                    <h5 class="resumenText">Open your way across a dark open world and fight against what lives within the fog and beyond. The Fog is a survival horror game inspired on the 1980 novella "The Mist" by Stephen King.</h5>
                    <br>
                    <h5 class="hTextL">Release date:<h4 class="hTextR"> 1 DIC 2017<h4></h5>
                    <br>
                    <h5 class="hTextL">Developer:<h4 class="hTextR"> Horizon Games<h4></h5>
                    <h5 class="hTextL">Publisher:<h4 class="hTextR"> Horizon Games<h4></h5>
                </div>
                <div class="espacioEntremedioR"></div>
            </div>     
        </div>
    </div>
</body>